h1 {
    text-align: center;
}

#game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .filled-box {
    border: 2px solid black;
  }
  
  .letter-row {
    display: flex;
  }








.inputForm{
    /* text-align: center; */
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    /* flex: 50%; */
    justify-content: center;
    /* border: 2px black solid; */
    
}

#image-poster{
    padding-right: 5%;
    filter: blur(30px);
    transition-property: filter;
    transition-duration: .5s;
}
#image-poster img{  
    box-shadow: 0px 0px 80px black;
    
}

  * {
    box-sizing: border-box;
  }
  
  body {
    font: 16px Arial;  
    background-color: #0e9692;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;

}
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }




  #imageContainer{
      text-align: center;
      /* padding-bottom: 5%; */
      padding: 1px;
      /* border: black solid 2px; */
      margin-top: 5%;
      width: 90%;
      margin: 0 auto;
      background-color: #0c4a48;
      box-shadow: 0px 0px 80px #0c4a48;


  }

  .row{
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 4px; */
    /* width: 100%;       */
  }

  .column{

    flex: 33%;
    /* flex: 100%; */
    padding: 10px;
    /* border: black solid 2px; */



      
  }

  .column img{
      /* margin-top: 8px; */
      vertical-align: middle;
  }

  img{
      max-width: 500px;
  }


  #guess-status-div{
      text-align: center;
      padding-bottom: 60px;
      font-size: 30px;
  }

  #guessForm{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #submit-button{
      background-color: #0c4a48;
      border-radius: 10px;
      margin-left: 5px;
  }

  #myInput{
      border-radius: 10px;
  }


  






  /* MEDIA QUERIES */

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    
    #imageContainer img{
        max-width: 300px;;
    }

  }